    <footer class="site-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

      <div class="container">
        <div class="row mb-5">
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>التصنيفات</h3>
            <ul class="list-unstyled">
              <li><a href="#">تصميم المواقع</a></li>
              <li><a href="#">التصميم الجرافيكي</a></li>
              <li><a href="#">مطوري المواقع</a></li>
              <li><a href="#">بايثون</a></li>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>الشركة</h3>
            <ul class="list-unstyled">
              <li><a href="#">من نحن</a></li>
              <li><a href="#">الوظائف</a></li>
              <li><a href="#">المدونة</a></li>
              <li><a href="#">الموارد</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>الدعم</h3>
            <ul class="list-unstyled">
              <li><a href="#">الدعم</a></li>
              <li><a href="#">الخصوصية</a></li>
              <li><a href="#">شروط الخدمة</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>تواصل معنا</h3>
            <div class="footer-social">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; <a>JobConnect</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>
          </div>
        </div>
      </div>
    </footer>
  
  </div>