


<!-- بداية نموذج البحث عن الوظائف -->
<div class="row mb-5">
    <!-- حقل إدخال عنوان الوظيفة أو اسم الشركة -->
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <input type="text"  name="job_title_or_company_name" class="form-control form-control-lg" placeholder="عنوان الوظيفة، الشركة...">
    </div>
    <!-- حقل إدخال الموقع -->
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <input type="text"  name="location" class="form-control form-control-lg" placeholder="الموقع">
    </div>
    <!-- قائمة اختيار نوع الوظيفة -->
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <select  name="job_type" class="selectpicker" data-style="btn-white btn-lg" data-width="100%" data-live-search="true"
        title="اختر نوع الوظيفة">
        <option value="1">دوام كامل</option>
        <option value="2">دوام جزئي</option>
        <option value="3">تدريب</option>
      </select>
    </div>
    <!-- زر البحث عن الوظيفة -->
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
      <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span
          class="icon-search icon mr-2"></span>البحث عن وظيفة</button>
    </div>
  </div>
<!-- نهاية نموذج البحث عن الوظائف -->
